/* src/components/Header.css */
.app-header {
    background-color: #f6f5f7;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.app-header .logo {
    font-size: 24px;
    font-weight: bold;
}

.app-header .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.app-header .navbar a {
    color: black;
    text-decoration: none;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f6f5f7;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    z-index: 1001; /* Расположить выше других элементов */
}

.dropdown-menu li {
    padding: 5px 15px;
}

.dropdown-menu li a {
    color: black;
    display: block; /* Делаем ссылку блочным элементом для полной доступности */
}

.dropdown-arrow {
    width: 10px; /* Задайте нужный размер стрелки */
    margin-left: 5px; /* Отступ между текстом и стрелкой */
}

.dropdown-menu li:hover {
    background-color: #e0e0e0; /* Подсветка наводя мышь */
}


  .app-footer {
    background-color: #f6f5f7;
    color: black;
    text-align: center;
    padding: 10px;
  }
  
/* src/components/Footer.css */
.app-footer {
    background-color: #f6f5f7;
    color: black;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;  /* Распределение колонок */
    flex-wrap: wrap;                /* Поддержка разбиения на строки, если экран мал */
  }
  
  .footer-column {
    flex: 1;                        /* Каждая колонка занимает равное пространство */
    margin: 0 10%;                /* Отступы между колонками */
  }
  
  .footer-column h3 {
    text-align: left;
    margin-bottom: 10px;           /* Отступ для заголовка колонки */
  }
  
  .footer-column p {
    font-size: 14px;
    text-align: left;
    margin: 3px 0;                 /* Отступы для элементов в колонке */
  }
  
  .social-links {
    margin-top: 15px;
  }
  
  .social-links a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
  }
  